:root {
  --orange: #00b4d8;
  --black: #03045E;
  --light-color: #666;
  --box-shadow: 0 5px 7px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
  outline: none;
  border: none;
}

html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
  font-size: 62.5%;
}

.card {
  box-shadow: var(--box-shadow);
}

body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  width: 100%;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  align-items: center;
  border-bottom: 1px solid var(--black);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: none;
}

header .logo i {
  background: var(--orange);
}

/* -------------------navbar start--------------- */
header .navBar a {
  border-radius: 0.5rem;
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  color: var(--black);
  text-decoration: none;
  display: inline-block;
}

header .navBar a.active,
header .navBar a:hover {
  background: var(--orange);
  color: rgb(255, 255, 255);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
  text-decoration: none;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--orange);
  transform: rotate(360deg);
}

header .icons #menu-bar {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  text-transform: none;
  background: none;
  font-size: 3rem;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  --webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--orange);
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

.row {
  padding-top: 0px;
}

.buy-btn {
  font-size: 17px;
  width: 100%;
  background-color: #03045E;
  margin: 16px 0px 0px;
  padding: 0px 15px;
  border: none;
  color: white;
  height: 32px;
  border-radius: 5px;
}

.buy-btn:hover {
  color: white;
  background-color: #00b4d8;
}

.divBtn {
  padding: 0px 15px;
}
/* ----------------------navbar end---------------- */

/* ----------------------cards start---------------- */
.cards {
margin-top: 100px;


}
.brandsTttle{

    font-family: "Bree Serif", serif;
    font-size: 40px !important;
    color: var(--black);
    text-align: center;
    font-weight: bolder;
    
  
}

.card-t {
  font-size: 15px;
  display: flex;
}

.btn1 {
  background-color: #03045E !important;
  border: none !important;
  width: 100px;
  font-weight: bolder;
  height: 30px;
  font-size: 15px !important;
  color: #fff;
}

.brandNameTIttle {
  height: 200px;
  width: 100%;
}

.TIttle {
  position: relative;
  top: 130px;
  color: #00b4d8;
  font-size: 50px;
  left: 250px;
}

.btn1:hover {
  background-color: #00b4d8 !important;
}

.card-h {
  color: #00b4d8;
  font-size: 2rem;
}

.card-main{
  min-height: 300px;
  min-width: 350px;
display: grid;
place-items: center;
font-size: 20px;
padding: 10px;
border-radius: 10px;
margin: 0px 10px;

}
.card-main img{
  display: block;
  width: 100%;
  height: 100%;
    
}
.img-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
 opacity: 0;
  align-items: center;
  transition:opacity 0.25s
}
.img-overlay > *{
  transform: translateY(20px);
  transition:transform 0.25s
}
.img-overlay:hover{
  opacity: 1;
}
.img-overlay:hover > *{
  transform: translateY(0);
}
.img-tittle{
  font-size: 25px;
  font-weight: bold;
}

.img-discription{
margin-top: 10px;
  font-size: 12px;
  text-align: center;
} 
  .buy-btn{
    color: white;
    background-color:transparent;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    margin-top: 50px;
    border: 3px solid var(--orange);
   margin-left: 100px;
  }
  .buy-btn:hover{
    background-color:transparent;
    border: 3px solid white;
    color: var(--orange);
  }
/* ----------------------cards end--------------- */
/* ----------------------footer start--------------- */
.bg-footer{
  background-color: #000 !important;
  color: #fff !important;
}
footer{
  margin-top: 5%;
}
/* ----------------------footer end--------------- */
@media (max-width: 786px) {
  header .icons #menu-bar {
    display: inline-block;
  }

  header .navBar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navBar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navBar a {
    display: block;
    font-size: 2rem;
    background: #eee;
    margin: 1rem;
    padding: 1.5rem;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  h2 {
    text-align: center;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

